__pycache__/
*.py[cod]
.env.local
.venv/
venv/
.env
*.egg-info/
.pytest_cache/
.mypy_cache/
.DS_Store
.aws-sam/
samconfig.toml
.metadata.db
frontend/node_modules/
frontend/dist/
frontend/.vite/
metadata.sql
metadata.db
